<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="/Creatorsofthefuture/public/img/codeicon.svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;1,500;1,700&family=Poppins:ital,wght@0,300;0,400;0,700;1,600&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,500&display=swap" rel="stylesheet">
    <title> Future Creators </title> 
</head>
 <body>
        <header class="header" id="Inicio">
            <img src="/public/img/user.svg" alt="" class="user">
            <nav class="menu-navegacion">
                <h2 class="Title">Future Creators</h2>
                <a href="#inicio">Home</a>
                <a href="/registro">Register</a>
                <a href="/login">login</a>
            </nav> 
        </header>
            <img src="/public/img/Banner1-Landing-GC.png" alt="Banner Home">
            <section class="gallery">
                <% perfiles.array.forEach(element => { %>
                    <article class="profileBox">
                        <h1><%= element.nombre %></h1>
                        <p><%= element.descripcion %></p>
                        <img src="<%= element.image_url %>" alt="Pfp">
                        <p><%= element.apellidos %></p>
                        <p><%= element.email %></p>
                        <p><%= element.celular %></p>
                        <p><%= element.rol %></p>
                        <p><%= element.academia %></p>
                        <p><%= element.linkedin_url %></p>
                        <p><%= element.cv_url %></p>
                        <p><%= element.views_count %></p>
                        <p><%= element.last_viewed %></p>
                        <p><%= element.activo %></p>
                    </article>
                        
                <% }); %>
            </section>
    </body>
</html>
