<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <section>
        <article>
            <div>
                <h1><%= perfil.nombre %></h1>
                <p><%= perfil.descripcion %></p>
                <img src="<%= perfil.image_url %>" alt="Pfp">
                <p><%= perfil.apellidos %></p>
                <p><%= perfil.email %></p>
                <p><%= perfil.celular %></p>
                <p><%= perfil.rol %></p>
                <p><%= perfil.academia %></p>
                <p><%= perfil.linkedin_url %></p>
                <p><%= perfil.cv_url %></p>
                <p><%= perfil.views_count %></p>
                <p><%= perfil.last_viewed %></p>
                <p><%= perfil.activo %></p>
            </div>
        </article>
        <article>

        </article>
    </section>
</body>
</html>