<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="vp_register viewport">
    <section class="register_form form">
        <form id="register_form" action="/createUser/" method="post" enctype="multipart/form-data">
            <div class="input_label">
                <label for="name">Nombre</label>
                <input class="input" type="text" name="nombre" id="name" required value="<%= locals.old && old.nombre ? old.nombre : '' %>">
                <span class="spanTagError"></span>
            </div>
            <div class="input_label">
                <label for="lastName">Apellidos</label>
                <input class="input form_input" type="text" name="apellidos" id="lastName" required value="<%= locals.old && old.apellidos ? old.apellidos : '' %>">
                <span class="spanTagError"></span>
            </div>
            <div class="input_label">
                <label for="image">Tu foto de perfil</label>
                <input class="input form_input" type="image" name="image_url" id="image" alt="Tu foto de perfil">
            </div>
            <div class="input_label">
                <label for="mail">Correo Electrónico</label>
                <input class="input form_input" type="email" name="email" id="mail" required value="<%= locals.old && old.email ? old.email : '' %>">
                <span class="spanTagError"></span>
            </div>
            <div class="input_label">
                <label for="phNumber">Número de teléfono</label>
                <input class="input form_input" type="number" name="celular" id="phNumber" required value="<%= locals.old && old.celular ? old.celular : '' %>">
                <span class="spanTagError"></span>
                <span class="spanTagError"></span>
            </div>
            <div class="input_label">
                <label for="role">Rol</label>
                <input class="input form_input" type="text" name="rol" id="role" value="<%= locals.old && old.rol ? old.rol : '' %>">
                <span class="spanTagError"></span>
            </div>
            <div class="input_label">
                <label for="description">Descríbete brevemente</label>
                <textarea class="input" name="descripcion" id="description" cols="15" rows="7"></textarea>
                <span class="spanTagError"></span>
            </div>
            <div class="input_label">
                <label for="academy">Academia en la que cursaste</label>
                <select class="input" name="academia" id="academy">
                    <option value=""></option>
                    <option value="DigitalHouse">Digital House</option>
                    <option value="Makaia">Makaia</option>
                    <option value="AcademiaGeek">Academia Geek</option>
                </select>
            </div>
            <div class="input_label">
                <label for="cv">Link hoja de vida</label>
                <input class="input" type="text" name="cv_url" id="cv" value="<%= locals.old && old.cv ? old.cv : '' %>">
                <span class="spanTagError"></span>
            </div>
            <div class="input_label">
                <label for="linkedIn">Link a tu perfil de linkedIn</label>
                <input class="input" type="text" name="linkedin_url" id="linkedIn" value="<%= locals.old && old.linkedIn ? old.linkedIn : '' %>">
                <span class="spanTagError"></span>
            </div>
            <div class="input_label">
                <label for="password">Contraseña</label>
                <input class="input" type="password" name="contrasena" id="password" value="<%= locals.old && old.contrasena ? old.contrasena : '' %>">
                <span class="spanTagError"></span>
            </div>
            <div class="input_label">
                <label for="passwordConfirmation">Confirme su contraseña</label>
                <input class="input" type="password" name="confirmacioncontrasena" id="passwordConfirmation" required value="<%= locals.old && old.confirmacioncontrasena ? old.confirmacioncontrasena : '' %>">
                <span class="spanTagError"></span>
            </div>
            <div class="form_buttonBox">
                <button class="form_button button" type="submit">Enviar</button>
                <button class="form_button button" type="reset">Reiniciar</button>
            </div>
        </form>
    </section>
    <div class="errorBox" id="error">
        <ul class="errorList">
            <%if(locals.errors) {
                errors.forEach(errors => {%>
              <p style="color: blue;"><%=errors.msg%></p>
              <% })
                }%>  
        </ul>
    </div>
    <script src="/js/register.js"></script>
</body>
</html>